body {
    background-color: rgba(214, 168, 108, 0.918);

    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        font-style: italic;
        background-color: rgb(86, 139, 209);
    }
}

nav {
    text-align: left;
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h2 {
        text-decoration: underline;
    }

    text-align: left;

}

.pregunta {
    color: rgb(64, 116, 139);
}

header {
    background-color: rgb(86, 139, 209);
    padding-bottom: 25px;
    margin: 20px 15px;
    display: flex;
    justify-content: space-evenly;
    ;

}

header nav ul {
    display: flex;
    gap: 20px;
    text-align: right
}

li {
    list-style: none;
}

.titulo {
    h1 {
        text-decoration: underline;
    }

    text-align: center;
}


main {
    height: 500px;
    margin: 3%;
    color: solid blue;
    display: flex;
    justify-content: space-evenly;
    align-items: start;

}

footer {
   text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    flex-direction: row-reverse;
    background-color: #ddd
    
}

@media (max-width: 900px) {
    body {
        width: 500px;
        background-color: rgba(214, 168, 108, 0.918);
    }

    main {
       height: 800px;
        flex-wrap: wrap;

    }

   footer{

    text-align: center;
   }
    }


@media (min-width: 900px) {
    body {
        background-color: rgba(214, 168, 108, 0.918);
    }

    main {
        flex-wrap: wrap;
    }
    footer{
        height: 40px;
    }
}

.patitas {
    display: flex;
    gap: 20px
}
.papas{
    text-align: left;
}

